body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: auto;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #343435;
  color: white;
}

.present {
  background-color: lightblue;
  color: black;
}

.future {
  background-color: #cacaca;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: grey;
  color: white;
  float: right;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
